 <!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet" type="text/css" href="AdminPanel.css">
  <title>IITDU Debating Club</title>
 
  <meta charset="utf-8">

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-filestyle.min.js"> </script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
 

 </head>


<body id="myPage" class="whole" data-spy="scroll" data-target=".navbar" data-offset="60">

	{% include 'navbar.html' %}

	{% block content %}
		replace me
	 {% endblock %}

</body>

</html>
